.todo-filter {
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}

.todo-filter span:before {
  content: " | ";
  font-weight: bold;
}

.todo-filter span:first-child:before {
  content: "";
}

.filter:hover {
  cursor: pointer;
}

.filter.selected {
    font-weight: bold;
}
